@font-face {
    font-family: "Inter Tight-SemiBold", sans-serif ;
    src: url(../assets/fonts/InterTight-SemiBold.ttf);
}
@font-face {
    font-family: "Inter Tight-Medium", sans-serif  ;
    src: url(../assets/fonts/InterTight-Medium.ttf);
}
@font-face {
    font-family: "Inter Tight-Light", sans-serif ;
    src: url(../assets/fonts/InterTight-Light.ttf);
}

* {
    box-sizing: border-box;
}


body {
font-family: "Inter Tight-SemiBold", "Inter Tight-Medium",   sans-serif;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


a {
    
    text-decoration: none;
}

.btn {
border-radius: 30px;
}



.header {
    width: 100%;
    position: absolute;
    margin: 32px auto ;
    background-color: transparent;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.logo {
    margin-left: 100px;
    width: 15vh;

}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 26.67px;
    height: 20px;
    cursor: pointer;
}

.line {
    background-color: white;
    margin: 3px 0;
}

.line-long {
    width: 26px;
    height: 4px;
    border-radius: 10px;
}

.line-short {
    width: 15px;
    border-radius: 10px;
    height: 4px;
}

.nav-list {
    display: flex;
    gap: 8px;
    position: relative;
    z-index: 1;
}

.nav__item {
    
    color: rgba(251, 251, 251, 0.4);
    border: solid 1px ;
    width: 114px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.nav__item:hover{
    color: #c3d46c;
}

.nav__item_violet {
    margin-right: 100px;
}

.nav-btn {
    font-family: "Inter Tight-Medium", sans-serif ;
    font-weight:400;
    background-color: rgba(122, 49, 69, 1);
    border: solid 1px transparent;
    border-radius: 30px;
    width: 157px;
    height: 52px;
    cursor: pointer;
    color: white;
}



.nav-link {
    font-family: "Inter Tight-Medium", sans-serif ;
    font-weight:400;
    font-size: 16px;
    color: white ;
}

.hero {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color:  rgb(87, 111, 53);
}
.hero-title {
    font-family: "Inter Tight-SemiBold", sans-serif ;
    font-weight: 600;
    color: white;
    font-size:76px;
    text-transform: uppercase;
    margin: 0;
}

.hero-descr {
    font-family: "Inter Tight-Medium", sans-serif ;
    font-size:16px;
    color: white;
    font-weight: 400;
}

.left {
    width: 50%;
    background-color:  rgb(87, 111, 53);
    text-align: start;
    padding-left: 100px ;
    
}
.right {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 100%;
    background-image: url(../assets/img_project/image3.jpg);
    background-size: cover;
    background-position: center;
}
.right::before {
    content: ''; 
    position: absolute; 
    background: rgba(20, 20, 20, 0.2); 
    mix-blend-mode: multiply; 
    pointer-events: none; 
}

.guide {
    display: flex; 
    height: 100vh;
    width: 100%;
}

.checklist-subtitle {
    font-family: "Inter Tight-SemiBold", sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 32px;

}

.purple-block {
    background-color: rgb(122, 49, 69);
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 630px;
    height: 759px;
    position: relative;
}
.responsive-img {
    width: 100%;
    width: 430px; 
    height: 559px; 
    border-radius: 30px; 
    object-fit: cover;
    filter: brightness(0.7);

}
.green-block {
    background-color: rgb(87, 111, 53); 
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: start; 
    width: 630px;
    height: 759px;
    
}
.guide-block {
    width: 450px; 
    height: 499px; 
    background-color:rgb(87, 111, 53); 
    margin: 100px 100px 160px 100px;
}

.explanation {
    font-family: "Inter Tight-Medium", sans-serif ;
    color: white;
    font-size: 16px;
    font-weight: 400;

}
/*Ниже Настины стили*/
.title {
    font-size: 120px;
    color: black;
    background-color: #FBFBFB;
    }
span {color: #FBFBFB;
    background-color:#576F35;
}
.product-wrapper { 
        display: block;
        width: 100%;
        float: left;
    }
.product {
        display: block;
        border: 1px solid #576F35;
        position: relative;
        background:#FBFBFB;
        margin: 0 20px 20px 0;
        text-decoration: none;
        color: #474747;
        z-index: 0;
        height: 300px;
    }
        
@media only screen and (min-width: 768px) {
        .product-wrapper {
            width: 33.333%;
        }
    }



.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin-top: 50px;
}

.list-descr {
    
    background-color:rgba(251, 251, 251, 1);
    color:rgba(20, 20, 20, 0.6);
    font-family: "Inter Tight-Medium", sans-serif ;
}

.list-span {
    color: black; 
    font-weight: bold;
}

.list-steps {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 29px;
    padding: 12px 25px 12px 24px;
    border: solid 1px white;
    border-radius: 15px;
    background-color:rgba(251, 251, 251, 1);
    width: 450px;
    height: 76px;
}
.outer-circle {
    display: flex;
    flex-shrink: 0;
    width: 52px;
    height: 52px;
    background-color: rgba(122, 49, 69, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-circle {
    width: 42px;
    height: 42px;
    background-color: rgba(122, 49, 69);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


